body {
  position: relative;
}

svg {
  margin: 0 auto;
}

*[onclick="showBubbleSort()"] {
  cursor: pointer;
}

h4::before,
#home::before {
  content: "";
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}
